body{
  text-align: center;
  background-color: #3f6198 !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
}

/* Boxes for overall caeses */
.covid-cases-box{
  border-radius: 10px;
  border: 2px solid #f6f6f7 !important;
  height: auto;
  background-color: #fff;
}
.overall-cases{
  color: #000;
  font-weight: 900;
  font-size: 22px !important;
}
.overall-deaths{
  color: red;
  font-weight: 900;
  font-size: 22px !important;
}
.overall-active{
  color: green;
  font-weight: 900;
  font-size: 22px !important;
}
.overall-recovered{
  color: blue;
  font-weight: 900;
  font-size: 22px !important;
}

.table{
  color: #fff !important;
}
thead{
  background-color: #fff !important;
  color: #000 !important;
}
tr:nth-child(even) {
  background-color: #fff !important;
  color: #000 !important;
}